/* mobile */
@media (max-width: 767px) {

    .forecast {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(4, auto);
        padding: 10px;
        word-wrap: break-word;
    }
    
    #dailyTitle {
        margin: 5px;
    }
    
    .dailyHeader {
        grid-column: 1/-1;
        grid-row: 1/2;
        padding: 5px;
        justify-self: center;
    }
    
    .high {
        grid-column: 1/-1;
        grid-row: 3/4;
        padding: 5px;
    }
    
    .feels {
        grid-column: 1/-1;
        grid-row: 4/5;
        padding: 5px;
    }
    
    .icon {
        height: 32px;
        grid-column: 2/3;
        grid-row: 2/-1;
        padding: 10px;
    }
    
    .dayOne {
        border-top: 1px solid black;
    }
    
    .dayTwo {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    
    .dayThree {
        border-bottom: 1px solid black;
    }

}


@media (min-width: 768px) {

    .forecast {
        display: grid;
        grid-template-columns: 200px;
        grid-template-rows: repeat(4, auto);
        padding: 20px;
        word-wrap: break-word;
    }

    .dailyHeader {
        grid-column: 1/-1;
        grid-row: 1/2;
        padding: 5px;
    }

    .high {
        grid-column: 1/-1;
        grid-row: 2/3;
        padding: 5px;
    }

    .feels {
        grid-column: 1/-1;
        grid-row: 3/4;
        padding: 5px;
    }

    .icon {
        height: 32px;
        grid-column: 1/-1;
        grid-row: 4/5;
        justify-self: center;
    }

    .dailyDiv {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
        word-wrap: break-word;
    }

    #dailyTitle {
        grid-column: 1/-1;
        grid-row: 1/2;
        padding: 5px;
    }

    .dayOne {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .dayTwo {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .dayThree {
        grid-column: 3/4;
        grid-row: 2/3;
    }













}













/* <a href="https://www.freepik.com/free-photos-vectors/background">Background photo created by lifeforstock - www.freepik.com</a> */